body {
  background-color: #DEE1dd;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
}

h1{
  background-color: #c4cdc1;
  color: #000000;
  line-height: 200%;
  font-family: Georgia, "Times New Roman", serif;
  text-shadow: 3px 3px 5px #cccccc;
}

h2{background-color: #c4cdc1;
color: #000000;
font-family: Georgia, "Times New Roman", serif;
Text-align: center;
}

p{ font-size: .90em;
text-align: center;
}

p2{text-align: center;
}

ul{
font-weight: bold;
}

nav{
font-weight: bold;
font-size: .75em;
}

#wrapper{margin-left: auto;
margin-right: auto;
width: 80%;
}

.feature {color: #c70000;
}

p4{ text-align: center;
}

a{text-align: center;
}

footer{color: #000000;
  font-size: .75em;
  font-style: italic;
  text-align: center;
}

nav h2{
  background-color: #c4cdc1;
  color: #000000;
}
